---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>The Clueless Guide to Cosmic Survival</h1>
<div class="blog-section">
    <a href="/blog1">
        <div class="blog-box">
            <h2>Day 1</h2>
            <p class="home-blog">Time used to mean something. It was measured in heartbeats, in sunrises and seasons, in the shifting tides of a world I can barely remember. Earth was...</p>
        </div>
    </a>
    <a href="/blog2">
        <div class="blog-box">
            <h2>Day 150</h2>
            <p class="home-blog">Listen, I used to think time was pretty straightforward. You wake up, drink coffee, go to work, complain about work, go home, watch TV, and repeat until retirement or the heat death of the universe—whichever comes first. But then I went to space, and let me tell you: time is a lie...</p>
        </div>
    </a>
</div>
{% bio "Bob" %}